<!DOCTYPE html>
{% load static %}
<html>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<head>
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
  <script src="{% static 'generalize/js/generalize.js' %}?v={{request.META.static_version}}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'main_user/css/base.css' %}">
{% block css %}
{% endblock %}
<title></title>
</head>
<body>
{% block content %}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>